body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #000000;
}

.inner-page {
  color: #ffffff;
  background: #849D8F;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;

  background: linear-gradient(to top, #E74A35, #F26843);
  border: none;
  box-shadow: 0 2px 2px 0 #AC1000;
}

.button:hover,
.button:focus {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
  border: none;
  box-shadow: 0 2px 2px 0 #AC1000;
}

.button:active {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #f26843, #e74a35);
  border: none;
  box-shadow: 0 2px 2px 0 #942718;
}

.list-style {
  list-style: none;
}

.catalog-navigation {
  display: none;
}

.site-navigation a {
  line-height: 18px;
  color: #ffffff;
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*.catalog-navigation a{
  font-weight: 400;
  color: #000000;
}*/

.site-navigation a:hover {
  background: #F7F6F3;
  color: #323232;
}

.site-navigation a:focus {
  background: #EDEDED;
  box-shadow: 0 2px 1px 0 #696969;
  color: #323232;
}

.site-navigation a:active,
.site-navigation-current a {
  background: #D07058;
}

.site-navigation-current a {
  border-bottom: none;
}


/*.catalog-navigation a:hover{
  background: #FBDED7;
}

.catalog-navigation a:focus{
  background: #F6B5A5;
}

.catalog-navigation a:active{
  background: #D07058;
  color: #ffffff;
}*/

.user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.search-form input {
  display: none;
}

.search-form label:hover,
.search-form label:focus {
  background: #F8F7F4;
}

.login-link:hover,
.login-link:focus,
.shopping-basket:hover,
.shopping-basket:focus {
  color: #000000;
  background: #F8F7F4;
}

.shopping-basket-current {
  color: #000000;
  background: #F8F7F4;
}

.modal {
  display: none;
}

.container h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #FFBC9E;
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
}

.catalog-item a {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item a:hover,
.catalog-item a:focus {
  color: #FFBC9E;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 13px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price span {
  font-size: 30px;
}

.advantages {
  background: #F4E8CE url("../img/bg_pattern.jpg") repeat;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.blog {
  background: #ffffff url("../img/bg_strawberry.jpg") no-repeat;
}

.blog-item {
  font-weight: 500;
}

.blog-title a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.mailing {
  background: #F8F7F4 url("../img/bg-mail.jpg") no-repeat padding-box 5px;
}

.main-footer {
  color: #ffffff;
}

.footer-site-navigation a {
  color: #ffffff;
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  color: #FFBC9E;
}

.footer-copyright {
  color: #ffffff;
  font-size: 12px;
  line-height: 16px;
}

.footer-copyright-text a {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-copyright-text a:hover,
.footer-copyright-text a:focus {
  color: #FFBC9E;
}

/* ----- Сеточные стили ----- */

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header {
  margin-bottom: 10px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.main-header-logo {
  width: 154px;
  height: 64px;

  padding-top: 10px;
  padding-right: 23px;
}

.site-navigation {
  width: 380px;
  margin: 0;
  padding: 0;
}

.user-navigation {
  margin: 0;
  padding: 0;

  margin-left: auto;
}

.features {
  padding: 21px 25px;
  margin-bottom: 40px;
}

.features-list {
  padding: 0;
  margin: 0;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog {
  width: 552px;
  padding: 21px 25px;
}

.mailing {
  width: 552px;
  padding: 21px 25px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.product-item {
  width: 267px;
  margin-right: 25px;
  margin-bottom: 35px;
}

.product-item:nth-child(4n) {
  margin-right: 0;
}

.main-footer {
  padding: 18px 0 25px 0;
}

.main-footer .container {
  display: flex;
}

.footer-social {
  width: 188px;
}

.footer-navigation {
  width: 355px;
  margin-left: 214px;
}

.footer-copyright {
  width: 219px;
  margin-left: auto;
}
